<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheTechIdea.Beep.Winform.Controls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TheTechIdea.Beep.Winform.Controls.Properties.Settings>
            <setting name="LogoImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SideMenuWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SideMenuCollapsed" serializeAs="String">
                <value>False</value>
            </setting>
        </TheTechIdea.Beep.Winform.Controls.Properties.Settings>
    </userSettings>
</configuration>